extends ../../layouts/ui-kit-layout
include ../../blocks/colors-list/colors-list
include ../../blocks/types-list/types-list

block head
  - var title = "Цвета и шрифты проекта";

block content
  - 
    var colors = [
      {title: "Dark Shade 100%", hex: "#1F2041", color: "#1F2041"},
      {title: "Dark Shade 75%", hex: "#1F2041", color: "rgba(31, 32, 65, 0.75)"},
      {title: "Dark Shade 50%", hex: "#1F2041", color: "rgba(31, 32, 65, 0.5)"},
      {title: "Dark Shade 25%", hex: "#1F2041", color: "rgba(31, 32, 65, 0.25)"},
      {title: "Dark Shade 5%", hex: "#1F2041", color: "rgba(31, 32, 65, 0.05)"},
      {title: "Purple", hex: "#BC9CFF", color: "#BC9CFF"},
      {title: "Green", hex: "#6FCF97", color: "#6FCF97"},
    ]
    var types = [
      {textType: "H1", description: "This one is the sub-section or widget title", textClass: "sub-section"},
      {textType: "H2", description: "Next one is the item title inside widgets", textClass: "item-title"},
      {textType: "H3", description: "This is a label or CTA text", textClass: "label"},
      {textType: "Body", description: "This is the body text which is used for most of the design, like paragraphs, lists, etc.", textClass: "body-text"},
    ]
  main.ui-kit-page.ui-kit-page--with-colors
    .container
      h1.visually-hidden Цвета и шрифты используемые в проекте
      .ui-kit-row
        section.ui-kit-column.ui-kit-column--gap-xxxxxxl
          h2.visually-hidden Палитра
          +colors-list(colors)
        section.ui-kit-column
          h2.visually-hidden Шрифты
          +types-list(types)