$gallery-height: 485px;
$gallery-width: 100vw;

.room-gallery {
  &__list {
    margin: 0;
  }
  &__list-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: $gallery-height;
    max-width: $gallery-width;
  }
  &__item {
    flex-grow: 1;
    max-width: calc(#{$gallery-width} / 3);
    max-height: 50%;
    overflow: hidden;
    &--current {
      max-height: 100%;
      max-width: calc(#{$gallery-width} / 3 * 2);
    }
  }
  &__item-img {
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .room-gallery {
    &__list-wrapper {
      height: 250px;
    }
  }
}