.simple-button {
  font-size: $text-sm;
  font-weight: bold;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  transition: opacity .2s ease;
  padding: 0;
  &--primary {
    color: $color-primary;
  }
  &--secondary {
    color: $text-color-50;
  }
  &:hover,
  &:focus {
    opacity: .8;
    outline: none;
  }
  &:disabled,
  &--disabled {
    color: $text-color-10;
    cursor: initial;
  }
}