.site-map {
  display: flex;
  flex-wrap: wrap;
  &__group {
    flex: 1;
    margin-left: 40px;
    margin-bottom: 40px;
    &:last-child {
      min-width: 260px;
    }
  }
  &__tagline {
    padding-top: 4px;
    margin: 0;
    margin-bottom: 18px;
  }
  &__list {
    &-item {
      margin-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__item-link {
    color: $text-color-50;
    transition: color .2s ease;
    &:hover {
      color: $text-color-75;
    }
  }
  &__text {
    margin-bottom: 23px;
  }
}

@media (max-width: 768px) {
  .site-map {
    display: none;
  }
}