block site-map

mixin getSiteMapListItem(siteMapListItem)
  li.site-map__item
    a.site-map__item-link(href= siteMapListItem.href)= siteMapListItem.title

mixin getSiteMapList(siteMapList)
  h3=siteMapList.tagline
  ul.site-map
    for child in siteMapList.children
      +getSiteMapListItem(child)

for siteMapItem in siteMapItems
  +getSiteMapList(siteMapItem)