block site-map

mixin getSiteMapListItem(siteMapListItem)
  li.site-map__list-item
    a.site-map__item-link(href= siteMapListItem.href)= siteMapListItem.title

mixin getSiteMapList(siteMapList)
  .site-map__group
    h3.site-map__tagline=siteMapList.tagline
    ul.site-map__list
      for child in siteMapList.children
        +getSiteMapListItem(child)

for siteMapItem in siteMapItems
  +getSiteMapList(siteMapItem)