.button {
  $border-radius: 3em;
  $border-width: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: $border-width;
  border: none;
  font-size: $text-sm;
  font-weight: bold;
  line-height: 1.25;
  text-transform: uppercase;
  transition: background-image .2s ease, background-color .2s ease;
  border-radius: $border-radius;
  background-color: $color-primary;
  background-image: $gradient-primary;
  outline: none;
  &:hover,
  &:focus,
  &--hovered {
    background-color: $color-primary-light;
    background-image: $gradient-primary-transparent;
  }
  &:focus {
    box-shadow: 0px 0px 3px 2px $color-primary;
  }
  &:active {
    transform: translateY(1px);
  }
  &__wrapper {
    border-radius: calc(#{$border-radius} - #{$border-width});
    width: 100%;
    text-align: center;
  }
  &--primary {
    color: #fff;
  }
  &--secondary {
    color: $color-primary;
    .button__wrapper {
      background-color: #fff;
    }
  }
  &--with-icon {
    width: 100%;
    position: relative;
    .material-icons {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
    }
  }
  &--size-m {
    .button__wrapper {
      padding: 0.6em 1.5em 0.7em;
    }
  }
  &--size-l {
    .button__wrapper {
      padding: 1.04em 2.03em 1.05em;
    }
  }
}
