.select-counter {
  width: 100%;
  color: $text-color;
  font-weight: bold;
  font-size: $text-sm;
  position: relative;
  &--expanded {
    .form-group__input {
      border-color: $text-color-50;
      outline: none;
      border-radius: 4px 4px 0 0;
    }
    .select-counter__items {
      display: block;
    }
  }
  .form-group__input {
    cursor: pointer;
    text-overflow: ellipsis;
    font-size: $text-base-size;
  }
  &__items {
    display: none;
    border: 1px solid $text-color-50;
    border-top: none;
    border-radius: 0 0 4px 4px;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    &--inline {
      position: initial;
      display: block;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 6px 7px 0px 15px;
    &:last-child {
      padding-bottom: 7px;
    }
  }
  &__items-footer {
    padding: 13px 7px 9px 15px;
    display: flex;
  }
  &__footer-button {
    &--right {
      margin-left: auto;
    }
    &--hide {
      display: none;
    }
  }
  &__item-button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: $text-color-50;
    color: $text-color-50;
    font-size: $text-md;
    transition: border-color .2s ease, color .2s ease;
    outline: none;
    &:hover,
    &:focus {
      border-color: $color-primary;
      color: $color-primary;
    }
    &:disabled {
      border-color: $text-color-25;
      color: $text-color-25;
      cursor: initial;
    }
  }
  &__item-controls {
    width: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}