# OS or Editor folders
.cache
.DS_Store*
.tmproj
Thumbs.db
.env.local
.env.development.local
.env.test.local
.env.production.local

# Folders to ignore
.CVS
.git
.hg
.idea
.svn
package-lock.json
build
dist
bower_components

# Node.JS
node_modules
npm-debug.log
.happypack/