.form-group {
  flex-grow: 1;
  &__input,
  &__select,
  &__textarea {
    width: 100%;
    border-radius: 4px;
    padding: 13px 15px;
    border-width: 1px;
    border-style: solid;
    border-color: $text-color-25;
    color: $text-color-75;
    transition: border-color .2s ease, color .2s ease;
    background-color: #fff;
    &::placeholder {
      color: $text-color-25;
    }
    &:hover,
    &:focus,
    &--hovered {
      border-color: $text-color-50;
      outline: none;
    }
  }
  .input-wrapper {
    position: relative;
    // чтобы при наведении на иконку оставались стили у инпута
    &:hover {
      .form-group__input {
        border-color: $text-color-50;
      }
    }
  }
  &__input {
    &[type='date'] {
      text-transform: uppercase;
      &::-webkit-inner-spin-button,
      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }
    &[type='number'] {
      &::-webkit-inner-spin-button {
          -webkit-appearance: none;
      }
    }
    &[type='password'] {
      &::-ms-reveal {
        display: none;
      }
    }
    &:-webkit-autofill {
      animation-name: autofill;
      animation-fill-mode: both;
    }
    &--with-icon {
      padding-right: 36px;
    }
  }
  &__input-button {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: $text-lg;
    border: none;
    background-color: transparent;
    position: absolute;
    transform: translateY(-50%);
    right: 10px;
    top: 50%;
    transition: opacity .2s ease;
    &:hover,
    &:focus {
      outline: none;
      opacity: .5;
    }
    &--primary {
      .material-icons {
        color: $color-primary;
        background: $gradient-primary;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &--secondary {
      .material-icons {
        color: $text-color-50;
      }
    }
    
  }
  &__title {
    font-size: $text-sm;
    text-transform: uppercase;
    line-height: 1.25;
    font-weight: bold;
    color: $text-color;
    margin-bottom: 2px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  &__type {
    font-family: $font-primary;
    font-weight: normal;
    text-transform: uppercase;
    color: $text-color-50;
  }
}




@keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}