block input

.form-group
  label.form-group__label.visually-hidden(for="subscribeEmail") 
  .input-wrapper
    button.form-group__input-button(type="submit")
      span.visually-hidden Отправить
      span.mdi.mdi-arrow-right
    input.form-group__input(type="email" placeholder="Email" size="35" name="subscribeEmail" id="subscribeEmail" required)
