mixin input(options = {}, buttonAttributes)
  - var { label, type = "" } = options
  .form-group
    label.form-group__wrapper
      div(class= label ? "form-group__title" : "visually-hidden")
        = label
        if type
          .form-group__type= type
      .input-wrapper
        - var inputClass = "form-group__input"
        if buttonAttributes
          - inputClass += " form-group__input--with-icon"
        - var isHoverState = type.indexOf("hover") !== -1
        if isHoverState
          - inputClass += " form-group__input--hovered"
        input(class= inputClass)&attributes(attributes)
        if buttonAttributes
          button.form-group__input-button(class= `${buttonAttributes.type === "submit" ? "form-group__input-button--primary" : "form-group__input-button--secondary"}` type= buttonAttributes.type)
            i.visually-hidden= buttonAttributes.title
            i.material-icons= buttonAttributes.icon