.types-list {
  max-width: 433px;
  margin-right: 30px;
  // line-height: 1.29;
  &__item {
    display: flex;
    margin-bottom: 50px;
    &--sub-section {
      font-size: $text-lg;
      line-height: 1.25;
      .types-list__description {
        font-family: $font-secondary;
        font-weight: bold;
        color: $text-color;
      }
    }
    &--item-title {
      line-height: 1.264;
      font-size: $text-md;
      .types-list__description {
        font-family: $font-secondary;
        font-weight: bold;
        color: $text-color;
      }
    }
    &--label {
      line-height: 1.25;
      font-size: $text-sm;
      .types-list__description {
        font-weight: bold;
        color: $text-color;
        text-transform: uppercase;
      }
    }
    &--body-text {
      max-width: 380px;
      margin-top: -3px; // нужно только для pixel perfect
      font-size: $text-base-size;
    }
  }
  &__text-type {
    color: $text-color-25;
    margin-right: 30px;
    text-align: right;
    min-width: 37px;
  }
  &__description {

  }
}