mixin filters(title= "Фильтр")
  .filters
    section.filters__wrapper
      h2.visually-hidden= title
      form.filters__form(action="https://echo.htmlacademy.ru" method="post")
        block
        button.visually-hidden(type="submit" tabindex=-1) Применить
    button.filters__tongue.filters__tongue--open(type="button")
      i.material-icons search
    button.filters__tongue.filters__tongue--close(type="button")
      i.material-icons view_module