.filters {
  // TODO: сделать резиновый datepicker
  .datepicker--cell-day {
    height: 32px;
  }
  .datepicker--nav {
    padding: 20px 20px 0 20px;
  }
  &__group {
    border: none;
    padding: 0;
    padding-right: 60px;
    margin-top: 30px;
    &-title {
      font-size: $text-sm;
      text-transform: uppercase;
      line-height: 1.25;
      font-weight: bold;
      color: $text-color;
      margin-bottom: 6px;
      &::-webkit-details-marker {
        display: none;
      }
      &--with-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: color .2s ease;
        &:hover,
        &:focus {
          color: $text-color-50;
          outline: none;
        }
        &:active {
          color: $text-color;
        }
      }
    }
  }
  &__accordion {
    .material-icons__less {
      display: none;
    }
    &[open] {
      .material-icons__less {
        display: inline;
      }
      .material-icons__more {
        display: none;
      }
    }
  }
}
