mixin filters(title= "Фильтр")
  section.filters
    h2.visually-hidden= title
    form.filters__form(action="https://echo.htmlacademy.ru" method="post")
      block
      button.visually-hidden(type="submit" tabindex=-1) Применить