include ../../mixins
include ../hint/hint

mixin price(data)
  - var {roomCost= 0, days= 0, servicesCost= 0, additional= 0} = data
  - var totalRoomCost = roomCost * days
  - var total = totalRoomCost + servicesCost + additional

  table.price
    tbody.price__details
      tr.price__row
        td.price__cell
          .price__cell-wrapper
            +numberWithSpaces(roomCost)
            = `₽ х ${days} `
            +declOfNum(days, ["сутки", "суток", "суток"])
        td.price__cell
          .price__cell-wrapper.price__cell-wrapper--aligned-right
            +numberWithSpaces(totalRoomCost)
            | ₽
      tr.price__row
        td.price__cell
          .price__cell-wrapper
            | Сбор за&nbsp;услуги
            if servicesCost < 0
              | : скидка&nbsp;
              +numberWithSpaces(-servicesCost)
              | ₽
            .price__hint.price__hint--gap-5
              +hint("Скидка на первую бронь за подписку")
        td.price__cell
          .price__cell-wrapper.price__cell-wrapper--aligned-right
            if servicesCost > 0
              +numberWithSpaces(servicesCost)
              | ₽
            else
              | 0₽
      tr.price__row
        td.price__cell
          .price__cell-wrapper Сбор за дополнительные услуги
            .price__hint.price__hint--gap-5
              +hint("Чаевые для персонала уже включены в счет")
        td.price__cell
          .price__cell-wrapper.price__cell-wrapper--aligned-right
            +numberWithSpaces(additional)
            | ₽
    tfoot.price__total
      tr.price__row
        td.price__cell
          .price__cell-wrapper.price__cell-wrapper--gap-20 Итого
            span.price__dots
        td.price__cell
          .price__cell-wrapper.price__cell-wrapper--aligned-right.price__cell-wrapper--gap-20
            +numberWithSpaces(total)
            | ₽