.price {
  &__cell-wrapper {
    display: flex;
    justify-content: space-between;
    line-height: 1.29;
    &--aligned-right {
      justify-content: flex-end;
      padding-left: 5px;
    }
    &--gap-20 {
      padding-top: $gap-20;
    }
  }
  &__dots {
    flex-grow: 1;
    border-bottom: 1px dotted $text-color-25;
    margin-left: 5px;
  }
  &__cell {
    vertical-align: top;
    padding: 7px 0;
  }
  &__total {
    font-family: $font-secondary;
    font-weight: bold;
    font-size: $text-md;
    color: $text-color;
    line-height: 1.2;
    .price__cell-wrapper {
      line-height: 0.6;
      padding-bottom: 7px;
    }
  }
  &__hint {
    &--gap-5 {
      margin-left: $gap-5;
    }
  }
}