.price {
  &__cell-wrapper {
    display: flex;
    justify-content: space-between;
    &--aligned-right {
      justify-content: flex-end;
      padding-left: 5px;
    }
    &--gap-m {
      padding-top: $gap-m;
    }
  }
  &__dots {
    flex-grow: 1;
    border-bottom: 1px dotted $text-color-25;
    margin-left: 5px;
  }
  &__cell {
    vertical-align: top;
    padding: 5px 0;
  }
  &__total {
    font-family: $font-secondary;
    font-weight: bold;
    font-size: $text-md;
    color: $text-color;
    line-height: 1.2;
  }
  &__hint {
    &--gap-xxs {
      margin-left: $gap-xxs;
    }
  }
}