.checkbox {
  display: flex;
  cursor: pointer;
  line-height: 1.29;
  &:hover {
    .checkbox__indicator {
      border: 1px solid $text-color-50;
    }
  }
  &--with-details {
    font-weight: bold;
    color: $text-color-75;
  }
  &__details {
    color: $text-color-50;
    font-size: 12px;
    font-weight: initial;
    margin-top: 5px;
  }
  &__input {
    &:focus {
      & + .checkbox__indicator {
        border: 1px solid $text-color-50;
        background-color: $color-primary-light;
        .checkbox__mark {
          &:after {
            background-color: $color-primary-light;
          }
        }
      }
    }
    &:checked {
      & + .checkbox__indicator {
        border: 1px solid $color-primary;
        .checkbox__mark {
          display: block;
        }
      }
    }
  }
  &__indicator {
    min-width: 20px;
    height: 20px;
    flex-basis: 20px;
    border: 1px solid $text-color-25;
    border-radius: 4px;
    position: relative;
    margin-right: 10px;
    transition: border-color .2s ease;
  }
  &__mark {
    display: none;
    position: absolute;
    width: 6px;
    height: 8px;
    background: $gradient-primary;
    top: 50%;
    left: 6px;
    transform: rotate(45deg) translate(-50%, -50%);
    &:after {
      content: '';
      position: absolute;
      background-color: #fff;
      top: 0;
      left: 0;
      width: 4px;
      height: 6px;
    }
  }
}