mixin checkbox(checkboxOptions)
  - var {label, details, name, value, checked = false} = checkboxOptions;

  label.checkbox(class= details ? "checkbox--with-details" : "")
    input.visually-hidden.checkbox__input(type="checkbox" name= name checked= checked value= value)
    .checkbox__indicator
      .checkbox__mark
    .checkbox__description
      != label
      if details
        p.checkbox__details!= details