mixin checkbox(checkboxOptions)
  - var {label, description, name, value, checked = false} = checkboxOptions;
  label.checkbox
    input.visually-hidden.checkbox__input(type="checkbox" name= name checked= checked value= value)
    span.checkbox__indicator
      span.checkbox__mark
    = label
