mixin checkbox(label, name, isActive = false)
  label.checkbox
    input.visually-hidden.checkbox__input(type="checkbox" name= name checked= isActive)
    span.checkbox__indicator
      span.checkbox__mark
    = label
