.features-list {
  max-width: 291px;
  &__item {
    padding: $gap-m $gap-m 17px 0;
    border-top: 1px solid $text-color-10;
    &:first-child {
      border-top: none;
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}