extends ../../layouts/ui-kit-layout
include ../../blocks/input/input
include ../../blocks/date-dropdown/date-dropdown
include ../../blocks/select-counter/select-counter
include ../../blocks/filters/filters-group
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/radio-group/radio-group
include ../../blocks/switcher/switcher
include ../../blocks/like-button/like-button
include ../../blocks/rate/rate
include ../../blocks/range-slider/range-slider
include ../../blocks/button/button
include ../../blocks/paginator/paginator
include ../../blocks/bullet-list/bullet-list
include ../../blocks/features-list/features-list
include ../../blocks/comment/comment

block head
  - var title = "Элементы формы Toxin"

block content
  -
    var subscribeButton = {
      icon: "arrow_forward",
      type: "submit",
      title: "Отправить",
    }
    var items = [
      {title: "Взрослые", count: 0, countWord: "Гости"},
      {title: "Дети", count: 0, countWord: "Гости"},
      {title: "Младенцы", count: 0},
    ]
    var itemsFull = [
      {title: "Взрослые", count: 2, countWord: "Гости"},
      {title: "Дети", count: 1, countWord: "Гости"},
      {title: "Младенцы", count: 0},
    ]
    var radioGroup = {
      name: "user-gender",
      title: "Ваш пол",
      radioButtons: [
        {label: "Мужчина", value: "man", checked: true},
        {label: "Женщина", value: "woman"}
      ]
    }
    var roomItems = [
      {title: "Спальни", count: 2},
      {title: "Кровати", count: 2},
      {title: "Ванные комнаты", count: 0},
    ]
    var rules = [
      "Нельзя с питомцами",
      "Без вечеринок и мероприятий",
      "Время прибытия — после 13:00, а выезд до 12:00"
    ]
    var features = [
      {icon: "insert_emoticon", title: "Комфорт", subtitle: "Шумопоглощающие стены"},
      {icon: "location_city", title: "Удобство", subtitle: "Окно в каждой из спален"},
      {},
    ]
    var fiveDaysAgo = new Date().setDate(new Date().getDate() - 5)
  main.ui-kit-page.ui-kit-page--with-form-elements
    .container
      h1.visually-hidden Элементы формы
      .ui-kit-row
        .ui-kit-column.ui-kit-column--width-320.ui-kit-column--gap-90
          .dialog__form-group.dialog__form-group--gap-20
            +input({label: "Text Field", type: "default"})(placeholder="Email")
          .dialog__form-group.dialog__form-group--gap-20
            +input({label: "Text Field", type: "hover/focus"})(placeholder="Email" value="This is pretty awesome")
          .dialog__form-group.dialog__form-group--gap-23
            +select-counter({items, type: "default", label: "Dropdown", name: "guestCount", placeholder: "Сколько гостей", withButtons: true})
          .dialog__form-group.dialog__form-group--gap-40
            +input({label: "Masked text field", type: "default"})(placeholder="ДД.ММ.ГГГГ" name="user-bday")
          .dialog__form-group.dialog__form-group--gap-40
            +date-dropdown({split: true, startLabel: "Date dropdown", endLabel: "Date dropdown", end: new Date(2020, 7, 23)})
          .dialog__form-group.dialog__form-group--width-266.dialog__form-group--gap-42
            +date-dropdown({label: "Filter date dropdown", start: new Date(2020, 7, 19), end: new Date(2020, 7, 23)})
          .dialog__form-group.dialog__form-group--width-266
            +input({label: "Subscription text field"}, subscribeButton)(type="email" placeholder="Email" size="35" name="subscribeEmail" required)
        .ui-kit-column.ui-kit-column--width-320
          .dialog__form-group.dialog__form-group--gap-40
            +filters-group("Checkbox Buttons")
              +checkbox-list([
                {label: "Можно курить", name: "conditionals", value: "allow-smoke"},
                {label: "Можно с питомцами", name: "conditionals", value: "allow-pets", checked: true},
                {label: "Можно пригласить гостей (до&nbsp;10&nbsp;человек)", name: "conditionals", value: "allow-guests", checked: true},
              ])
          .dialog__form-group.dialog__form-group--gap-40
            +filters-group("Radio Buttons")
              +radio-group(radioGroup)
          .dialog__form-group.dialog__form-group--gap-40
            +filters-group("Toggle")
              .dialog__form-group.dialog__form-group--gap-13
                +switcher({label: "Получать спецпредложения", name: "allow-notifications", checked: true})
              +switcher({label: "Получать спецпредложения", name: "allow-notifications"})
          .dialog__form-group.dialog__form-group--gap-40
            +filters-group("Like button")
              .dialog__form-group.dialog__form-group--inline
                .dialog__form-item.dialog__form-item--gap-10
                  +like-button({count: 2})
                .dialog__form-item
                  +like-button({count: 12, liked: true})
          .dialog__form-group.dialog__form-group--gap-40
            +filters-group("Rate button")
              .dialog__form-group.dialog__form-group--inline
                .dialog__form-item.dialog__form-item--gap-20
                  +rate(4)
                .dialog__form-item
                  +rate(5)
        .ui-kit-column.ui-kit-column--width-320
          .dialog__form-group.dialog__form-group--width-266.dialog__form-group--gap-32
            +filters-group()
              +range-slider({label: "Range Slider", unit: "₽", from: 5000, to: 10000, max: 15000})
          +filters-group("Buttons")
            .dialog__form-group.dialog__form-group--inline.dialog__form-group--gap-30
              .dialog__form-item.dialog__form-item--gap-20
                +button({name: "Click me", size: "l"})
              .dialog__form-item
                +button({name: "Click me", size: "l", hovered: true})
            .dialog__form-group.dialog__form-group--inline.dialog__form-group--gap-26
              .dialog__form-item.dialog__form-item--gap-20
                +button({name: "Click me", type: "secondary", size: "l"})
              .dialog__form-item
                +button({name: "Click me", type: "secondary", size: "l", hovered: true})
            .dialog__form-group.dialog__form-group--inline.dialog__form-group--gap-26
              .dialog__form-item.dialog__form-item--gap-20
                +simple-button({name: "Click me"})
              .dialog__form-item
                +simple-button({name: "Click me", type: "secondary"})
            .dialog__form-group.dialog__form-group--gap-40
              +button({name: "Перейти к оплате", icon: "arrow_forward", size: "l"})(type="submit")
          +filters-group("Pagination")
            +paginator({countOnPage: 12, countTotal: 180, currentPage: 1})
      .ui-kit-row.ui-kit-row--gap-78
        .ui-kit-column.ui-kit-column--width-320.ui-kit-column--gap-127
          .dialog__form-group.dialog__form-group--width-266.dialog__form-group.dialog__form-group--gap-20
            +select-counter({items: roomItems, type: "default", label: "Dropdown", name: "roomsCount", placeholder: "Удобства номера", withButtons: false})
          .dialog__form-group.dialog__form-group--width-266.dialog__form-group--gap-53
            +select-counter({items: roomItems, type: "expanded", label: "Dropdown", name: "roomsCount", placeholder: "Удобства номера", withButtons: false, inline: true})
          .dialog__form-group.dialog__form-group--width-266.dialog__form-group.dialog__form-group--gap-26
            +filters-group()
              details.filters__accordion()
                summary.filters__group-title.filters__group-title--with-icon Expandable checkbox list
                  i.material-icons.material-icons__more expand_more
                  i.material-icons.material-icons__less expand_less
                +checkbox-list([
                  {label: "Завтрак", name: "additionally", value: "breakfast"},
                  {label: "Письменный стол",  name: "additionally", value: "desktop", checked: true},
                  {label: "Стул для кормления",  name: "additionally", value: "child-chair", checked: true},
                  {label: "Кроватка",  name: "additionally", value: "child-bed", checked: true},
                  {label: "Телевизор",  name: "additionally", value: "tv"},
                  {label: "Шампунь",  name: "additionally", value: "shampoo"},
                ])
          .dialog__form-group.dialog__form-group--width-266.dialog__form-group.dialog__form-group--gap-20
            +filters-group()
              details.filters__accordion(open)
                summary.filters__group-title.filters__group-title--with-icon Expandable checkbox list
                  i.material-icons.material-icons__more expand_more
                  i.material-icons.material-icons__less expand_less
                +checkbox-list([
                  {label: "Завтрак", name: "additionally", value: "breakfast"},
                  {label: "Письменный стол",  name: "additionally", value: "desktop", checked: true},
                  {label: "Стул для кормления",  name: "additionally", value: "child-chair", checked: true},
                  {label: "Кроватка",  name: "additionally", value: "child-bed", checked: true},
                  {label: "Телевизор",  name: "additionally", value: "tv"},
                  {label: "Шампунь",  name: "additionally", value: "shampoo"},
                ])
        .ui-kit-column
          .ui-kit-row
            .ui-kit-column.ui-kit-column--width-320
              +select-counter({items, label: "Dropdown", name: "guestCount", placeholder: "Сколько гостей", withButtons: true, inline: true})
            .ui-kit-column.ui-kit-column--width-320
              +select-counter({items: itemsFull, label: "Dropdown", name: "guestCount", placeholder: "Сколько гостей", withButtons: true, inline: true})
          .ui-kit-row
            .ui-kit-column.ui-kit-column--width-320
              .dialog__form-group.dialog__form-group--width-266
                +filters-group("Rich Checkbox Buttons")
                  +checkbox-list([
                    {label: "Широкий коридор", details: "Ширина коридоров в&nbsp;номере не&nbsp;менее 91&nbsp;см", name: "accesability", value: "wide-hall"},
                    {label: "Помощник для инвалидов", details: "На&nbsp;1&nbsp;этаже вас встретит специалист и&nbsp;проводит до&nbsp;номера", name: "accesability", value: "helper"},
                  ])
            .ui-kit-column.ui-kit-column--width-320
              .dialog__form-group.dialog__form-group--width-266
                +filters-group("Bullet list")
                  +bullet-list(rules)
      .ui-kit-row
        .ui-kit-column.ui-kit-column--gap-90
          +features-list(features)
        .ui-kit-column.ui-kit-column--col-2.ui-kit-column--p-10
          +comment({
            userName: "Мурад Сарафанов",
            userAvatar: "assets/img/avatars/man.jpg",
            date: fiveDaysAgo,
            message: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И&#160;стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
            likeOptions: {
              count: 12,
              liked: true,
            }
          })