-
  var socialsItems = [
    { title: "Твиттер", href: "javascript:void(0)" },
    { title: "Фэйсбук", href: "javascript:void(0)" },
    { title: "Инстаграм", href: "javascript:void(0)" },
  ]

mixin getSocialItem(social)
  li.socials__item
    a.socials__item-link(href= social.href)= social.title

mixin getSocials(socials)
  ul.socials
    for socialItem in socials
      +getSocialItem(socialItem)


h3.visually-hidden Мы в социальных сетях:
+getSocials(socialsItems)