.socials {
  display: flex;
  align-items: center;
  color: $color-primary;
  &__item {
    margin-left: 23px;
    transition: transform .2s ease;
    &:hover {
      transform: scale(1.2);
    }
    &:visited {
      color: $color-secondary;
    }
  }
  &__item-link {
    font-size: 24px;
    background: $gradient-primary;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 768px) {
  .socials__item {
    &:first-child {
      margin-left: 0;
    }
  }
}