head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  meta(name="keywords" content="отель, токсин, toxin, забронировать номер, в лучшем отеле, отельные взгляды, бронирование отеля")
  meta(name="description" content="Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»")
  link(rel="icon" href="favicon.ico" type="image/ico")
  block head
  title= title || ""