extends ../../layouts/default-layout
include ../../blocks/dialog/dialog
include ../../blocks/input/input
include ../../blocks/button/button
include ../../blocks/switcher/switcher
include ../../blocks/radio-group/radio-group

block head
  - var title = "Зарегистрировать аккаунт Toxin";

block logo
  - var isMainPage = false

block footer
  - var isUnderlined = true

block content
  -
    var radioGroup = {
      name: "user-gender",
      title: "Ваш пол",
      radioButtons: [
        {label: "Мужчина", value: "man", checked: true},
        {label: "Женщина", value: "woman"}
      ]
    }

  main.start-account-page
    h1.visually-hidden Зарегистрировать аккаунт Toxin
    .container
      +dialog({title: "Регистрация аккаунта"})
        .dialog__form-group.dialog__form-group--gap-10
          +input()(placeholder="Имя" name="user-name" required)
        .dialog__form-group.dialog__form-group--gap-10
          +input()(placeholder="Фамилия" name="user-surname")
        .dialog__form-group.dialog__form-group--gap-23
          +radio-group(radioGroup)

        .dialog__form-group.dialog__form-group--gap-20
          +input({label: "Дата рождения"})(placeholder="ДД.ММ.ГГГГ" name="user-bday")

        .dialog__form-group.dialog__form-group--gap-10
          +input({label: "Данные для входа в сервис"})(type="email" placeholder="Email" name="user-email" required)
        .dialog__form-group.dialog__form-group--gap-10
          +input()(type="password" placeholder="Пароль" name="user-password" required)
        .dialog__form-group.dialog__form-group--gap-23
          +switcher({label: "Получать спецпредложения", name: "allow-notifications"})

        .dialog__form-group.dialog__form-group--gap-30
          +button({name: "Перейти к оплате", icon: "arrow_forward", size: "l"})(type="submit")

        .dialog__form-message
          p.dialog__text Уже есть аккаунт на Toxin
          +button({name: "Войти", type: "secondary", href: "signin.html", size: "l"})