extends ../../layouts/default-layout
include ../../blocks/dialog/dialog

block head
  - var title = "Бронирование номеров в отеле Toxin";

block logo
  - var isMainPage = true

block content
  main.main-page
    .container
      .content-wrapper
        h1.visually-hidden Бронирование номеров в отеле Токсин
        p.subtitle Лучшие номера для вашей работы, отдыха и просто вдохновения
        section
          +dialog("Найдём номера под ваши пожелания")
          