extends ../../layouts/default-layout
include ../../blocks/dialog/dialog
include ../../blocks/input/input
include ../../blocks/select-counter/select-counter
include ../../blocks/date-dropdown/date-dropdown
include ../../blocks/button/button

block head
  - var title = "Бронирование номеров в отеле Toxin";

block logo
  - var isMainPage = true

block content
  -
    var items = [
      {title: "Взрослые", count: 0, countWord: "Гости"},
      {title: "Дети", count: 0, countWord: "Гости"},
      {title: "Младенцы", count: 0},
    ]
  main.main-page
    .container
      .content-wrapper
        h1.visually-hidden Поиск номеров в отеле Токсин
        p.subtitle Лучшие номера для вашей работы, отдыха и просто вдохновения
        +dialog({title: "Найдём номера под ваши пожелания"})
          .dialog__form-group.dialog__form-group--gap-m.dialog__form-group--period
            +date-dropdown({split: true})
          .dialog__form-group.dialog__form-group--gap-xxl
            +select-counter({items, label: "Гости", name: "guestCount", required: true, placeholder: "Сколько гостей", withButtons: true})
          +button({name: "Подобрать номер", icon: "arrow_forward", size: "l", href: "search.html"})
          