@import "../../assets/styles/main";
@import "../../blocks/header/header";
@import "../../layouts/default-layout";
@import "../../blocks/button/button";
@import "../../blocks/input/input";
@import "../../blocks/footer/footer";
@import "../../blocks/header/header";
@import "../../blocks/dialog/dialog";
@import "../../blocks/logo/logo";

.main-page {
  background-image: url("../../assets/img/sofa.jpg");
  background-repeat: no-repeat;
  background-color: #efefff;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease;
  .container {
    padding-top: 70px;
    padding-bottom: 18px;
  }
}