@import "../../assets/styles/main";
@import "../../blocks/room-gallery/room-gallery";
@import "../../blocks/bullet-list/bullet-list";
@import "../../blocks/feature/feature";
@import "../../blocks/comment/comment";
@import "../../blocks/pie-chart/pie-chart";
@import "../../blocks/price/price";
@import "../../blocks/hint/hint";


.room-description {
  display: flex;
  &__column {
    padding: 70px 0;
  }
  &__group {
    display: flex;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item {
    flex: 1;
    margin-right: 70px;
  }

  .description-block {
    &__title {
      font-family: $font-secondary;
      font-size: $text-md;
      font-weight: bold;
      margin-bottom: $gap-m;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--gap-m {
        padding-left: $gap-m;
      }
    }
    &__counter {
      color: $text-color-50;
      font-size: $text-base-size;
      font-weight: initial;
      font-family: $font-primary;
    }
    .features-list {
      &__item {
        padding: $gap-m $gap-m 17px 0;
        border-top: 1px solid $text-color-10;
        &:first-child {
          border-top: none;
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  .comments-list {
    &__item {
      margin-bottom: 22px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}