@import "../../assets/styles/main";
@import "../../blocks/room-gallery/room-gallery";
@import "../../blocks/bullet-list/bullet-list";
@import "../../blocks/feature/feature";
@import "../../blocks/comment/comment";
@import "../../blocks/pie-chart/pie-chart";
@import "../../blocks/price/price";
@import "../../blocks/hint/hint";
@import "../../blocks/features-list/features-list";


.room-description {
  display: flex;
  &__column {
    padding: 70px 0 63px;
    margin-right: 70px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__group {
    display: flex;
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item {
    flex: 1;
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__card {
    &--fixed {
      position: sticky;
      top: 0;
    }
  }

  .description-block {
    &--width-292 {
      max-width: 292px;
    }
    &--width-341 {
      max-width: 341px;
    }
    &--gap-70 {
      margin-right: 70px;
    }
    &__title {
      font-family: $font-secondary;
      font-size: $text-md;
      font-weight: bold;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--gap-m {
        padding-left: $gap-m;
      }
    }
    &__paragraph {
      line-height: 1.7;
    }
    &__counter {
      color: $text-color-50;
      font-size: $text-base-size;
      font-weight: initial;
      font-family: $font-primary;
    }
  }

  .comments-list {
    &__item {
      margin-bottom: 22px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}