
include ../input/input
block site-map
  -
    var siteMapItems = [
      {
        tagline: "Навигация",
        children: [
          { title: "О нас", href: "javascript:void(0)" },
          { title: "Новости", href: "javascript:void(0)" },
          { title: "Служба поддержки", href: "javascript:void(0)" },
          { title: "Услуги", href: "javascript:void(0)" },
        ],
      },
      {
        tagline: "О нас",
        children: [
          { title: "О сервисе", href: "javascript:void(0)" },
          { title: "Наша команда", href: "javascript:void(0)" },
          { title: "Вакансии", href: "javascript:void(0)" },
          { title: "Инвесторы", href: "javascript:void(0)" },
        ],
      },
      {
        tagline: "Служба поддержки",
        children: [
          { title: "Соглашения", href: "javascript:void(0)" },
          { title: "Сообщества", href: "javascript:void(0)" },
          { title: "Связь с нами", href: "javascript:void(0)" },
        ],
      },
    ]
-
  var subscribeButton = {
    icon: "arrow_forward",
    type: "submit",
    title: "Отправить",
  }

block footer
- var footerClass = "footer"
if isUnderlined
  - footerClass = `${footerClass} footer--underlined`
if forTablet
  - footerClass = `${footerClass} footer--tablet-width`
footer(class= footerClass)
  section.footer__section.footer__section--wide
    .container
      h2.visually-hidden Карта сайта
      .site-info
        include ../logo/logo
        p.site-info__description Бронирование номеров в&nbsp;лучшем отеле 2019 года по&nbsp;версии ассоциации &laquo;Отельные взгляды&raquo;
      nav.site-map
        include ../site-map/site-map
        .site-map__group
          h3.site-map__tagline Подписка
          p.site-map__text Получайте специальные предложения и новости сервиса
          form.site-map__form(action="https://echo.htmlacademy.ru" method="post")
            +input({}, subscribeButton)(type="email" placeholder="Email" size="35" name="subscribeEmail" required)
  section.footer__section.footer__section--narrow
    .container
      p.footer__copyright Copyright &#169; 2018 Toxin отель. Все права зачищены.
      include ../socials/socials