@import '../socials/socials';
@import '../site-map/site-map';

.footer {
  background-color: #fff;
  &--underlined {
    border-top: 1px solid $text-color-25;
  }
  // нужен только для UI-kit
  &--tablet-width {
    max-width: 768px;
    margin: 0 auto;
    .site-map,
    .site-info__description {
      display: none;
    }
    .site-info {
      margin: 0 auto;
    }
    .footer__section--wide {
      padding: 121px 0 0 0;
    }
    .footer__section--narrow {
      border-top: none;
      padding: 17px 0 110px 0;
      .container {
        flex-direction: column;
      }
    }
    .footer__copyright {
      margin-bottom: 15px;
    }
    .socials__item {
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__section {
    &--wide {
      padding: 100px 0 57px 0;
    }
    &--narrow {
      border-top: 1px solid #D1D1D4;
      padding: 14px 0;
      .container {
        align-items: center;
      }
    }
  }
  .site-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__description {
      margin: 0;
      margin-top: 17px;
      width: 260px;
      min-width: 260px;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .site-info {
    margin: 0 auto;
  }
  .site-map,
  .site-info__description {
    display: none;
  }
  .footer {
    &__section--wide {
      padding: 15.76% 0 0 0;
    }
    &__section--narrow {
      border-top: none;
      padding: 17px 0 14.32% 0;
      .container {
        flex-direction: column;
      }
    }
    &__copyright {
      text-align: center;
      margin-bottom: 15px;
    }
  }
}