extends ../layouts/default-layout


block head
  - var title = "Бронирование номеров в отеле Toxin";

block logo
  - var isMainPage = true


block content
  h1.visually-hidden Бронирование номеров в отеле Токсин
  p Лучшие номера для вашей работы, отдыха и просто вдохновения
  section.modal
    h2 Найдём номера под ваши пожелания
    form(action="https://echo.htmlacademy.ru" method="post")
      label Прибытие
        input(type="date" name="arrival" required)
      label Выезд
        input(type="date" name="departure" required)
      label Гости
        input(type="number" min="1" placeholder="Сколько гостей" name="guest_count" required)
      button(type="submit") Подобрать номер