extends ../layouts/main

block head
  - var title = "Бронирование номеров в отеле Toxin";


block content
  h1.visually-hidden Бронирование номеров в отеле Токсин
  p Лучшие номера для вашей работы, отдыха и просто вдохновения
  section.modal
    h2 Найдём номера под ваши пожелания
    form(action="https://echo.htmlacademy.ru" method="post")
      label Прибытие
        input(type="date" name="arrival")
      label Выезд
        input(type="date" name="departure")
      label Гости
        input(placeholder="Сколько гостей")
      button(type="submit") Подобрать номер