extends ../layouts/default-layout
include ../blocks/input/input


block head
  - var title = "Бронирование номеров в отеле Toxin";

block logo
  - var isMainPage = true


block content
  .content
    h1.visually-hidden Бронирование номеров в отеле Токсин
    p Лучшие номера для вашей работы, отдыха и просто вдохновения
    section.modal
      h2 Найдём номера под ваши пожелания
      form(action="https://echo.htmlacademy.ru" method="post")
        +input("Прибытие")(type="date" min="2020-04-30" max="2021-06-30" name="arrival" required)
        +input("Выезд")(type="date" min="2020-04-30" max="2021-06-30" name="departure" required)
        +input("Гости")(type="number" min="1" placeholder="Сколько гостей" name="guest_count" required)
        button(type="submit") Подобрать номер