extends ../layouts/default-layout
include ../blocks/dialog/dialog

block head
  - var title = "Зарегистрировать аккаунт Toxin";

block logo
  - var isMainPage = false

block content
  main.start-account-page
    .container
      +dialog("Регистрация аккаунта")