extends ../layouts/default-layout



block head
  - var title = "Поиск номеров в отеле Toxin";

block logo
  - var isMainPage = false


block content
  .content
    h1 Номера которые мы для вас подобрали
    .content-wrapper
      p.subtitle Лучшие номера для вашей работы, отдыха и просто вдохновения
      section
        include ../blocks/dialog/dialog