extends ../layouts/default-layout
include ../blocks/room-card/room-card


block head
  - var title = "Поиск номеров в отеле Toxin";

block logo
  - var isMainPage = false


block content
  main.search-page
    .container
      .search-page__columns
        section.filters
        section.rooms
          h1 Номера которые мы для вас подобрали
          ul.rooms__list
            li.rooms__list-item
              +roomCard({number: 888, isLux: true, cost: 9990, rate: 4, reviewCount: 145})