extends ../layouts/default-layout
include ../blocks/input/input
include ../blocks/checkbox/checkbox
include ../blocks/rooms/rooms
include ../blocks/filters/filters
include ../blocks/filters/filters-group

block head
  - var title = "Поиск номеров в отеле Toxin";

block logo
  - var isMainPage = false

block content
  main.search-page
    .container
      .search-page__columns
        +filters("Фильтр комнат")
          +filters-group()
            +input("Даты пребывания в отеле")
            +input("Гости")
          +filters-group()
            +input("Диапазон цены")
          +filters-group("Условия размещения")
            ul.filters__list
              li.filters__list-item
                +checkbox("Можно курить", "conditionals", "allow-smoke")
              li.filters__list-item
                +checkbox("Можно с питомцами", "conditionals", "allow-pets", true)
              li.filters__list-item
                +checkbox("Можно пригласить гостей (до 10 человек)", "conditionals", "allow-guests", true)
          +filters-group("Доступность")
            ul.filters__list
              li.filters__list-item
                +checkbox("Широкий коридор","accesability", "wide-hall")
              li.filters__list-item
                +checkbox("Помощник для инвалидов","accesability", "helper", true)
          +filters-group()
            +input("Удобства номера")
          +filters-group()
            details.filters__accardeon(open)
              summary.filter__legend Дополнительные удобства
              ul.filters__list
                li.filters__list-item
                  +checkbox("Широкий коридор", "wide-hall")
                li.filters__list-item
                  +checkbox("Помощник для инвалидов", "helper", true)
        -
          var roomsList = [
            {number: 888, isLux: true, cost: 9990, rate: 5, reviewCount: 145},
            {number: 840, isLux: false, cost: 9900, rate: 4, reviewCount: 65},
            {number: 980, isLux: true, cost: 8500, rate: 3, reviewCount: 35},
            {number: 856, isLux: false, cost: 7300, rate: 5, reviewCount: 19},
            {number: 740, isLux: false, cost: 6000, rate: 4, reviewCount: 44},
            {number: 982, isLux: false, cost: 5800, rate: 3, reviewCount: 56},
            {number: 678, isLux: false, cost: 5500, rate: 5, reviewCount: 45},
            {number: 450, isLux: false, cost: 5300, rate: 4, reviewCount: 39},
            {number: 350, isLux: false, cost: 5000, rate: 3, reviewCount: 77},
            {number: 666, isLux: false, cost: 5000, rate: 5, reviewCount: 25},
            {number: 444, isLux: false, cost: 5000, rate: 3, reviewCount: 15},
            {number: 352, isLux: false, cost: 5000, rate: 3, reviewCount: 55}
          ]
        +rooms(roomsList)