@import '../checkbox/checkbox';

.checkbox-list {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  &__item {
    margin-bottom: 11px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}