extends ../../layouts/ui-kit-layout
//- include ../../blocks/header/header
//- include ../../blocks/footer/footer

block head
  - var title = "Шапки и подвалы сайта"

block ui-kit-wrapper
  - var background = "dark"

block content
  main.ui-kit-page
    h1.visually-hidden Шапки и подвалы сайта
    block content
      .ui-kit-page__item.ui-kit-page__item--gap-xxxxl
        - var currentPage = "О нас"
        include ../../blocks/header/header
      .ui-kit-page__item.ui-kit-page__item--gap-xxxxl
        - var user = "Юлий Цезарь"
        include ../../blocks/header/header
      .ui-kit-page__item.ui-kit-page__item--gap-xxxxl
        include ../../blocks/footer/footer
      .ui-kit-page__item.ui-kit-page__item--gap-xxxxl
        - var forTablet = true
        include ../../blocks/footer/footer