.feature {
  display: flex;
  align-items: center;
  .material-icons {
    font-size: 48px;
    background: $gradient-primary;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: $gap-xs;
  }
  &__title {
    font-weight: bold;
  }
}