.range-slider {
  $top-offset: 20px;
  $handle-size: 12px;
  // важно чтобы не скролилось вверх при изменении значения
  // https://github.com/IonDen/ion.rangeSlider/issues/147
  position: relative;
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__tagline {
    font-size: $text-sm;
    text-transform: uppercase;
    line-height: 1.25;
    font-weight: bold;
    color: $text-color;
  }
  &__caption {
    font-size: $text-sm;
    color: $text-color-50;
    font-feature-settings: 'tnum';
  }
  &__description {
    font-size: $text-sm;
    color: $text-color-50;
  }
  .irs--round {
    height: 36px;
  }
  .irs-line {
    top: $top-offset;
    height: calc(#{$handle-size} / 2);
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid $text-color-25;
  }
  .irs-bar {
    top: $top-offset;
    height: calc(#{$handle-size} / 2);
    background-color: transparent;
    background: $gradient-secondary;
  }
  .irs-handle {
    box-sizing: content-box;
    top: calc(#{$top-offset} - (#{$handle-size} / 2));
    width: $handle-size;
    height: $handle-size;
    border: 2px solid #fff;
    background: $gradient-secondary;
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
    z-index: 0;
  }
}


