extends ../../layouts/default-layout
include ../../blocks/input/input
include ../../blocks/rooms/rooms
include ../../blocks/filters/filters
include ../../blocks/filters/filters-group
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/select-counter/select-counter
include ../../blocks/date-dropdown/date-dropdown

block head
  - var title = "Поиск номеров в отеле Toxin";

block footer
  - var isUnderlined = true

block logo
  - var isMainPage = false

block content
  -
    var items = [
      {title: 'Взрослые', count: 2, countWord: 'Гости'},
      {title: 'Дети', count: 1, countWord: 'Гости'},
      {title: 'Младенцы', count: 1},
    ]
  main.search-page
    .container
      .search-page__columns
        +filters("Фильтр комнат")
          +filters-group()
            //- +input("Даты пребывания в отеле")
            +date-dropdown({start: new Date(2020, 7, 19), end: new Date(2020, 7, 23)})
          +filters-group()
            +select-counter({items, name: "guestCount", required: true, placeholder: "Сколько гостей", withButtons: false})
          +filters-group()
            +input("Диапазон цены")(type="range" min=0 max=15000)
          +filters-group("Условия размещения")
            +checkbox-list([
              {label: "Можно курить", name: "conditionals", value: "allow-smoke"},
              {label: "Можно с питомцами", name: "conditionals", value: "allow-pets", checked: true},
              {label: "Можно пригласить гостей (до&nbsp;10&nbsp;человек)", name: "conditionals", value: "allow-guests", checked: true},
            ])
          +filters-group("Доступность")
            +checkbox-list([
              {label: "Широкий коридор", details: "Ширина коридоров в&nbsp;номере не&nbsp;менее 91&nbsp;см", name: "accesability", value: "wide-hall"},
              {label: "Помощник для инвалидов", details: "На&nbsp;1&nbsp;этаже вас встретит специалист и&nbsp;проводит до&nbsp;номера", name: "accesability", value: "helper", checked: true},
            ])
          +filters-group()
            +input("Удобства номера")
          +filters-group()
            details.filters__accordion(open)
              summary.filters__group-title.filters__group-title--with-icon Дополнительные удобства
                i.material-icons.material-icons__more expand_more
                i.material-icons.material-icons__less expand_less
              +checkbox-list([
                {label: "Завтрак", name: "additionally", value: "breakfast"},
                {label: "Письменный стол",  name: "additionally", value: "desktop", checked: true},
                {label: "Стул для кормления",  name: "additionally", value: "child-chair", checked: true},
                {label: "Кроватка",  name: "additionally", value: "child-bed", checked: true},
                {label: "Телевизор",  name: "additionally", value: "tv"},
                {label: "Шампунь",  name: "additionally", value: "shampoo"},
              ])
        -
          var roomsList = [
            {number: 888, isLux: true, cost: 9990, rate: 5, reviewCount: 145},
            {number: 840, isLux: false, cost: 9900, rate: 4, reviewCount: 65},
            {number: 980, isLux: true, cost: 8500, rate: 3, reviewCount: 35},
            {number: 856, isLux: false, cost: 7300, rate: 5, reviewCount: 19},
            {number: 740, isLux: false, cost: 6000, rate: 4, reviewCount: 44},
            {number: 982, isLux: false, cost: 5800, rate: 3, reviewCount: 56},
            {number: 678, isLux: false, cost: 5500, rate: 5, reviewCount: 45},
            {number: 450, isLux: false, cost: 5300, rate: 4, reviewCount: 39},
            {number: 350, isLux: false, cost: 5000, rate: 3, reviewCount: 77},
            {number: 666, isLux: false, cost: 5000, rate: 5, reviewCount: 25},
            {number: 444, isLux: false, cost: 5000, rate: 3, reviewCount: 15},
            {number: 352, isLux: false, cost: 5000, rate: 3, reviewCount: 55}
          ]
        +rooms(roomsList)