include ../../mixins

mixin pie-chart(votes)
  - var {perfect= 0, good= 0, satisfactorily= 0, bad= 0} = votes
  //- тк для корректного dashoffset важен порядок:
  - var orderedVotes = {good, perfect, satisfactorily, bad}
  - var totalCount = perfect + good + satisfactorily + bad
  .pie-chart
    .pie-chart__group
      svg.pie-chart__chart(width="124" height="124" viewbox="0 0 34 34" fill="none" stroke-width="1")
        defs
          linearGradient(id="satisfactorily" x1="0%" y1="0%" x2="0%" y2="100%")
            stop(offset="0%" stop-color="#BC9CFF")
            stop(offset="100%" stop-color="#8BA4F9")
          linearGradient(id="good" x1="0%" y1="0%" x2="100%" y2="0%")
            stop(offset="0%" stop-color="#66D2EA")
            stop(offset="100%" stop-color="#6FCF97")
          linearGradient(id="perfect" x1="0%" y1="0%" x2="0%" y2="100%")
            stop(offset="0%" stop-color="#FFE39C")
            stop(offset="100%" stop-color="#FFBA9C")
          linearGradient(id="bad" x1="0%" y1="0%" x2="0%" y2="100%")
            stop(offset="0%" stop-color="#909090")
            stop(offset="100%" stop-color="#3D4975")
        - var previosOffset = 0
        each value, voteType in orderedVotes
          if value !== 0
            - var gap = 1
            - var dash = value * 100 / totalCount - gap / 2
            circle.pie-chart__unit(r="15.9" stroke=`url(#${voteType})` stroke-dasharray=`${dash} 100` stroke-dashoffset= previosOffset cx="50%" cy="50%")
            - previosOffset = previosOffset - dash - gap / 2
      p.pie-chart__info
        span.pie-chart__count= totalCount 
        +declOfNum(totalCount, ["голос", "голоса", "голосов"])
    ul.pie-chart__legend 
      li.pie-chart__legend-item Великолепно
      li.pie-chart__legend-item Хорошо
      li.pie-chart__legend-item Удовлетворительно
      li.pie-chart__legend-item Разочарован
