@import '../avatar/avatar';
@import '../like-button/like-button';


.comment {
  display: flex;
  &__avatar {
    margin-bottom: $gap-10;
  }
  &__column {
    &:first-child {
      margin-right: 10px;
    }
  }
  &__user-name {
    font-weight: bold;
  }
  &__like-button {
    text-align: center;
  }
  &__date {
    margin-bottom: $gap-xs;
  }
}