-
  var siteMapItems = [
    {
      tagline: "Навигация",
      children: ["О нас", "Новости", "Служба поддержки", "Услуги"],
    },
    {
      tagline: "О нас",
      children: ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"],
    },
    {
      tagline: "Служба поддержки",
      children: ["Соглашения", "Сообщества", "Связь с нами"],
    },
  ]


mixin siteMapItem(name)
  li.site-map__item=name

mixin siteMap(item)
  h3=item.tagline
  ul.site-map
    for name in item.children
      +siteMapItem(name)

for siteMapItem in siteMapItems
  +siteMap(siteMapItem)