.rooms {
  flex: 1;
  &__list {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
  &__title {
    margin: 30px 0 20px;
    font-family: $font-secondary;
  }
  &__paginator {
    padding: 40px 0 73px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}