include ../rate/rate
include ../../mixins

mixin roomCard(roomOptions)
  - var {imgList = [], number = 0, isLux = false, cost = 0, rate = 0, reviewCount = 0} = roomOptions;

  .room-card
    .room-card__gallery
      for img in imgList
        img.room-card__gallery-item(src= img)
    a.room-card__description(href="room.html")
      .room-card__description-row.room-card__description-row--underlined
        p.room-card__title
          | № 
          span.room-card__title--big= number
          if isLux 
            span.room-card__type= ` Люкс`
        p.room-card__info
          span.room-card__info-item.room-card__info-item--bold
            +numberWithSpaces(cost)
            | ₽ 
          span.room-card__info-item.room-card__info-item--small в сутки
      .room-card__description-row
        .room-card__rate
          +rate(rate)
        p.room-card__info
          span.room-card__info-item.room-card__info-item--bold= `${reviewCount} `
          | Отзывов