.room-card {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow .2s ease;
  &:hover {
    box-shadow: 0 10px 30px rgba(31,32,65,.15);
  }
  &:focus {
    box-shadow: 0 0px 3px $color-primary;
    outline: none;
  }
  &__gallery {
    height: 151px;
    background-color: #efefff;
    position: relative;
    overflow: hidden;
    &:after,
    &:before {
      opacity: 0;
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 42px;
      z-index: 1;
      transition: opacity .2s ease;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
      transform: rotate(180deg);
    }
    &:hover {
      &:after,
      &:before {
        opacity: 1;
      }
      .room-card__gallery-arrow {
        opacity: 1;
      }
    }
  }
  &__gallery-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    outline: none;
    opacity: 0;
    transition: opacity .2s ease;
    &--next {
      right: 4px;
    }
    &--before {
      left: 4px;
    }
  }
  &__gallery-item {
    height: 100%;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .slick-dots {
    display: flex;
    justify-content: flex-end;
    padding: 0 15px 15px 0;
    z-index: 2;
    bottom: 0;
    li {
      width: 8px;
      height: 8px;
      margin: 0;
      margin-right: 4px;
      &:last-child {
        margin-right: 0;
      }
    }
    button {
      width: 100%;
      height: 100%;
      padding: 0;
      border: 1px solid #fff;
      background-color: transparent;
      border-radius: 50%;
      transition: background-color .2s ease;
      box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.1);
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
      &:before {
        display: none;
      }
    }
    .slick-active button {
      background-color: #fff;
      box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
    }
  }
  &__description {
    display: block;
    padding: 10px 20px;
  }
  &__description-row {
    padding: 10px 0 9px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    &--underlined {
      border-bottom: 1px solid $text-color-10;
    }
  }
  &__title {
    line-height: 1.26;
    font-weight: bold;
    color: $text-color;
    font-family: $font-secondary;
    &--big {
      font-size: $text-md;
    }
  }
  &__type {
    text-transform: uppercase;
    font-size: $text-sm;
    color: $color-primary;
    font-family: $font-primary;
  }
  &__info {
    color: $text-color-50;
    font-size: $text-base-size;
  }
  &__info-item {
    &--bold {
      font-weight: bold;
    }
    &--small {
      font-size: $text-sm;
    }
  }
}