mixin paginator(paginatorOptions)
  - var {countOnPage = 0, countTotal = 0, currentPage = 1} = paginatorOptions
  - var roundCount = Math.floor(countTotal / 100) * 100
  - var pagesCount = Math.ceil(countTotal / countOnPage)

  - var startCount = currentPage === 1 ? currentPage : currentPage * countOnPage
  - var endCount = countOnPage * currentPage

  .paginator
    ul.paginator__list
      //- Иконка назад
      if currentPage !== 1
        li.paginator__list-item
          a.paginator__page.paginator__arrow(href="javascript:void(0)")
            i.material-icons arrow_back

      - for (var i = 1; i <= pagesCount; i++)
        - var isBoundary = (i === 1 || i === pagesCount)
        - var isNeighbor = (i <= currentPage + 2 && i >= currentPage - 2)

        if i === currentPage
          li.paginator__list-item
            span.paginator__page.paginator__page--active= i
        else if isBoundary || isNeighbor
          li.paginator__list-item
            a.paginator__page.paginator__page--interactive(href="javascript:void(0)")= i
        else if i === currentPage + 3 || i === currentPage - 3
          li.paginator__list-item
            span.paginator__page ...

      //- Иконка вперед
      if currentPage !== 15
        li.paginator__list-item
          a.paginator__page.paginator__arrow(href="javascript:void(0)")
            i.material-icons arrow_forward
    p.paginator__info= `${startCount} – ${endCount} из ${roundCount}+ вариантов аренды`