.paginator {
  &__list {
    display: flex;
    font-size: $text-sm;
    color: $text-color-50;
    margin-bottom: 10px;
  }
  &__info {
    line-height: 1.5;
  }
  &__page {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color .3s ease;
    &:focus {
      border: 1px solid $color-primary;
      outline: none;
    }
    &--active {
      color: #fff;
      font-weight: bold;
      background: $gradient-primary;
      pointer-events: none;
    }
    &--interactive {
      &:hover {
        background-color: $text-color-10;
      }
    }
  }
  &__arrow {
    background: $gradient-secondary;
    color: #fff;
    .material-icons {
      transition: transform .2s ease;
    }
    &:hover {
      .material-icons {
        transform: scale(1.3);
      }
    }
  }
}