mixin rate(rate)
  ul.rate
    li.rate__item
      span.mdi.mdi-star
    li.rate__item
      span.mdi.mdi-star
    li.rate__item
      span.mdi.mdi-star-outline
    li.rate__item
      span.mdi.mdi-star-outline
    li.rate__item
      span.mdi.mdi-star-outline