.rate {
  display: flex;
  align-items: center;
  color: $color-primary;
  background: $gradient-primary;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  &__item {
    display: flex;
  }
}