$border-radius: 22px;
$border-width: 2px;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $border-width;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background .5s ease;
  border-radius: $border-radius;
  background: $gradient-primary no-repeat $color-primary;
  &:hover {
    background: linear-gradient(180deg, rgba(#BC9CFF, .5) 0%, rgba(#8BA4F9, .5) 100%);
  }
  &__wrapper {
    padding: 10px 16px;
    border-radius: calc(#{$border-radius} - #{$border-width});
  }
  &--primary {
    color: #fff;
  }
  &--secondary {
    color: $color-primary;

    .button__wrapper {
      background-color: #fff;
    }
  }
}