@font-face {
	font-family: 'Montserrat';
	src: rl('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
	src: local('☺'), url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'), url('../fonts/montserrat/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
	src: local('☺'), url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'), url('../fonts/montserrat/Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/Quicksand-Bold.ttf') format('truetype');
  src: local('☺'), url('../fonts/quicksand/Quicksand-Bold.woff') format('woff'), url('../fonts/quicksand/Quicksand-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
