.header {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  z-index: 1;
  &__navigation {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__site-navigation,
  &__user-navigation {
    display: flex;
    flex-wrap: wrap;
  }
  &__site-navigation {
    margin-left: auto;
    color: $text-color-2;
    .site-navigation__item {
      padding: 0 10px;
      &-link {
        transition: color .2s ease;
        display: flex;
        align-items: flex-end;
        &--active {
          font-weight: bold;
        }
        &:hover {
          color: $text-color-1;
        }
        .mdi {
          font-size: $text-lg;
          line-height: 21px;
        }
      }
    }
  }
  &__user-navigation {
    .user-navigation__item {
      margin-left: 10px;
      &:last-child {
        margin-left: 20px;
      }
    }
  }
}