@import '~normalize.css';
@import 'theme/fonts';
@import 'theme/colors';
@import 'theme/spaces';

html {
  font-size: $text-base-size;
  font-family: $font-primary;
  color: $text-color-75;
  line-height: 1.72;
  text-rendering: optimizeSpeed;
}

body {
  margin: 0;
  padding: 0;
  &.blocked {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
  user-select: none;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
	height: auto;
}

h2, h1 {
  margin: 0;
  font-size: $text-lg;
  line-height: 1.25;
  color: $text-color;
}

h3 {
  font-size: $text-sm;
  text-transform: uppercase;
  line-height: 1.25;
  font-weight: bold;
  color: $text-color;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

main {
  flex: 1;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  min-width: 320px;
}

@import './index';
@import './cards';
@import './registration';
@import './room';
@import './search';
@import '../../layouts/default-layout';
@import '../../layouts/ui-kit-layout';
@import '../../blocks/header/header';
@import '../../blocks/button/button';
@import '../../blocks/input/input';
@import '../../blocks/date-dropdown/date-dropdown';
@import '../../blocks/footer/footer';
@import '../../blocks/dialog/dialog';
@import '../../blocks/logo/logo';
@import '../../blocks/simple-button/simple-button';
@import '../../blocks/select-counter/select-counter';
@import '../../blocks/calendar/calendar';
@import '../../blocks/ui-kit-header/ui-kit-header';
@import '../../blocks/colors-list/colors-list';
@import '../../blocks/types-list/types-list';
@import '../../blocks/switcher/switcher';
@import '../../blocks/radio-group/radio-group';
@import '../../blocks/room-gallery/room-gallery';
@import '../../blocks/bullet-list/bullet-list';
@import '../../blocks/feature/feature';
@import '../../blocks/comment/comment';
@import '../../blocks/pie-chart/pie-chart';
@import '../../blocks/price/price';
@import '../../blocks/hint/hint';
@import '../../blocks/features-list/features-list';
@import '../../blocks/filters/filters';
@import '../../blocks/paginator/paginator';
@import '../../blocks/rate/rate';
@import '../../blocks/checkbox-list/checkbox-list';
@import '../../blocks/rooms/rooms';
@import '../../blocks/room-card/room-card';
@import '../../blocks/range-slider/range-slider';

