.start-account-page {
  min-height: 683px;
  padding: 19px 0 18px 0;
  background-image: url('../img/bed-light.jpg');
  background-repeat: no-repeat;
  background-color: #efefff;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &--with-small-card {
    min-height: 702px;
  }
}
