.room-description {
  display: flex;
  padding: 70px 0 63px;
  &__column {
    margin-right: 70px;
    margin-bottom: 20px;
    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  &__group {
    display: flex;
    flex-wrap: wrap;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item {
    flex: 1;
    margin-right: 12px;
    margin-bottom: 35px;
    min-width: 250px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__card {
    display: flex;
    justify-content: center;
    &--fixed {
      position: sticky;
      top: 100px;
    }
  }

  .description-block {
    &--width-292 {
      max-width: 292px;
    }
    &--width-341 {
      max-width: 341px;
    }
    &--gap-70 {
      margin-right: 70px;
    }
    &__title {
      font-family: $font-secondary;
      font-size: $text-md;
      font-weight: bold;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--gap-m {
        padding-left: $gap-m;
      }
    }
    &__paragraph {
      line-height: 1.7;
    }
    &__counter {
      color: $text-color-50;
      font-size: $text-base-size;
      font-weight: initial;
      font-family: $font-primary;
    }
  }

  .comments-list {
    &__item {
      margin-bottom: 22px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 950px) {
  .room-description {
    flex-direction: column;
    &__column {
      margin-right: 0;
    }
  }
}