.start-account-page {
  min-height: 683px;
  padding: 30px 0 26px;
  background-image: url("../img/bed-light.jpg");
  background-repeat: no-repeat;
  background-color: #efefff;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}