$padding-main: 29px;
$padding-lg: 39px;
$padding-sm: 8px;

.dialog {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 380px;
  &__header,
  &__content {
    padding-left: $padding-main;
    padding-right: $padding-main;
  }
  &__header {
    padding-top: $padding-lg;
    padding-bottom: 12px;
  }
  &__content {
    padding-top: 8px;
    padding-bottom: $padding-main;
  }
  &__title {
    font-family: $font-secondary;
  }
  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: $text-base-size;
    line-height: 1.5;
  }
  &__room-title {
    font-family: $font-secondary;
    font-weight: bold;
    font-size: inherit;
  }
  &__room-number {
    font-size: $text-lg;
  }
  &__room-type {
    color: $color-primary;
    text-transform: uppercase;
    font-size: $text-sm;
    font-family: $font-primary;
  }
  &__room-cost {
    color: $text-color-50;
    font-size: 12px;
    &--bold {
      font-size: 14px;
      font-weight: bold;
    }
  }
  &__form-group {
    display: flex;
    &--gap-xs {
      margin-bottom: $gap-xs;
    }
    &--gap-m {
      margin-bottom: 21px;
    }
    &--gap-xxl {
      margin-bottom: 31px;
    }
    &--gap-10 {
      margin-bottom: $gap-10;
    }
    &--gap-13 {
      margin-bottom: $gap-13;
    }
    &--gap-20 {
      margin-bottom: $gap-20;
    }
    &--gap-21 {
      margin-bottom: $gap-21;
    }
    &--gap-23 {
      margin-bottom: $gap-23;
    }
    &--gap-24 {
      margin-bottom: $gap-24;
    }
    &--gap-26 {
      margin-bottom: $gap-26;
    }
    &--gap-30 {
      margin-bottom: $gap-30;
    }
    &--gap-32 {
      margin-bottom: $gap-32;
    }
    &--gap-42 {
      margin-bottom: $gap-42;
    }
    &--gap-40 {
      margin-bottom: $gap-40;
    }
    &--gap-53 {
      margin-bottom: $gap-53;
    }
    &--width-266 {
      max-width: 266px;
    }
    &--period {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .form-group {
        // TODO: подключить нужную библиотеку и убрать это
        // чтобы все автоматически растягивалось
        max-width: calc(100%/2 - 10px);
        &:first-child {
          margin-right: 20px;
        }
      }
    }
    &--inline {
      display: flex;
    }
  }
  &__form-item {
    &--gap-10 {
      margin-right: $gap-10;
    }
    &--gap-20 {
      margin-right: $gap-20;
    }
  }
  &__form-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  .dialog {
    width: 100%;
  }
}