$padding-main: 30px;
$padding-lg: 40px;
$padding-sm: 10px;

.dialog {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 382px;
  &__header,
  &__content {
    padding-left: $padding-main;
    padding-right: $padding-main;
  }
  &__header {
    padding-top: $padding-lg;
    padding-bottom: $padding-sm;
  }
  &__content {
    padding-top: $padding-sm;
    padding-bottom: $padding-main;
  }
  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: $text-base-size;
    line-height: 1.5;
  }
  &__room-title {
    font-family: $font-secondary;
    font-weight: bold;
    font-size: inherit;
  }
  &__room-number {
    font-size: $text-lg;
  }
  &__room-type {
    color: $color-primary;
    text-transform: uppercase;
    font-size: $text-sm;
    font-family: $font-primary;
  }
  &__room-cost {
    color: $text-color-50;
    &--bold {
      font-weight: bold;
    }
  }
  &__form-group {
    &--gap-xs {
      margin-bottom: $gap-xs;
    }
    &--gap-m {
      margin-bottom: $gap-m;
    }
    &--gap-xxl {
      margin-bottom: $gap-xxl;
    }
    &--period {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .form-group {
        // TODO: подключить нужную библиотеку и убрать это
        // чтобы все автоматически растягивалось
        max-width: calc(100%/2 - 10px);
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
  &__form-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button__wrapper {
      padding: 12px 18px 13px;
    }
  }
}