mixin like-button({count=0, liked=false})
  - var likeIcon =liked ? "favorite" : "favorite_border"
  - var likeClass = `like-button`
  if liked
    - likeClass = `${likeClass} like-button--active`
  button(class= likeClass type="button")
    span.like-button__wrapper
      i.material-icons= likeIcon
      span.visually-hidden Количество лайков:
      = count
