.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .main-page {
    background-image: url("../assets/img/sofa.jpg");
    background-repeat: no-repeat;
    background-color: #efefff;
    background-size: cover;
    background-position: center;
    .container {
      padding-top: 70px;
      padding-bottom: 18px;
    }
  }
  .content-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .subtitle {
    margin-top: 320px;
    align-self: flex-end;
    text-align: right;
    max-width: 300px;
  }
}