doctype html
html(lang='ru')
  include ../blocks/head
  body
    .site-wrapper
      include ../blocks/header/header
      main.main
        .container
          block content
      include ../blocks/footer/footer
