block variables

doctype html
html(lang='ru')
  include ../blocks/head
  body
    header.header
      .container
        nav.main-navigation
          a.mainpage-link(href="#")
            img.logo(src="./../assets/img/logo.svg" alt="Логотип Токсин")
          ul.site-navigation
            li.site-navigation__item
              a.site-navigation__item-link(href="#") О нас
            li.site-navigation__item
              a.site-navigation__item-link(href="#") Услуги
            li.site-navigation__item
              a.site-navigation__item-link(href="#") Вакансии
            li.site-navigation__item
              a.site-navigation__item-link(href="#") Новости
            li.site-navigation__item
              a.site-navigation__item-link(href="#") Соглашения
          ul.user-navigation
            li.user-navigation__item
              a.login-link(href="#") Войти
            li.user-navigation__item
              a.registration-link(href="#") Зарегистрироваться
    main
      .container
        block content
    footer.footer
      .container
        section.footer__section
          h2.visually-hidden
          nav.site-map
            a.mainpage-link(href="#")
              img.logo(src="./../assets/img/logo.svg" alt="Логотип Токсин")
            p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            include ../blocks/site-map
            h3 Подписка
            label Получайте специальные предложения и новости сервиса
              input(type="email" name="email" placeholder="Email")
        section.footer__section
          p Copyright &#169; 2018 Toxin отель. Все права защищены.
          h3.visually-hidden Мы в социальных сетях:
          ul.socials
            li.social__item
              a.social__item-link(href="#") Твиттер
            li.social__item
              a.social__item-link(href="#") Фэйсбук
            li.social__item
              a.social__item-link(href="#") Инстаграм
