.ui-kit-wrapper {
  min-height: 100vh;
  &--dark {
    background-color: #F4F4F6;
  }
}
.ui-kit-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ui-kit-column {
  max-width: 380px;
}