.ui-kit-wrapper {
  min-height: 100vh;
  &--dark {
    background-color: #F4F4F6;
  }
}
.ui-kit-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
  // &--centered {
  //   align-items: center;
  // }
  &--gap-78 {
    margin-bottom: $gap-78;
  }
}
.ui-kit-column {
  // max-width: 380px;
  flex: 1;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
  &--p-10 {
    padding-top: $gap-10;
  }
  &--gap-xxxxxxl {
    margin-right: $gap-xxxxxxl;
  }
  &--gap-90 {
    margin-right: $gap-90;
  }
  &--gap-127 {
    margin-right: $gap-127;
  }
  &--col-2 {
    flex: 2;
  }
  &--width-320 {
    max-width: 320px;
  }
  &--width-266 {
    max-width: 266px;
  }
}
.ui-kit-page {
  padding: 25px 0 100px 0;
  &__item {
    &--gap-xxxxl {
      margin-bottom: $gap-xxxxl;
    }
  }
  &--with-colors {
    padding: 30px 0 40px 0;
    .container {
      max-width: 1181px;
    }
  }
  &--with-cards {
    padding: 35px 0 40px 0;
  }
  &--with-form-elements {
    padding-top: 28px;
    padding-bottom: 0;
  }
}