.ui-kit-wrapper {
  min-height: 100vh;
  &--dark {
    background-color: #F4F4F6;
  }
}
.ui-kit-row {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.ui-kit-column {
  // max-width: 380px;
  flex: 1;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
  &--col-2 {
    flex: 2;
  }
}
.ui-kit-page {
  padding: 32px 0 100px 0;
  &__item {
    &--gap-xxxxl {
      margin-bottom: $gap-xxxl;
    }
  }
}