include ../button/button

-
  var navItems = [
    { title: "О нас", href: "javascript:void(0)" },
    { title: "Услуги", href: "javascript:void(0)", children: [] },
    { title: "Вакансии", href: "javascript:void(0)" },
    { title: "Новости", href: "javascript:void(0)" },
    { title: "Соглашения", href: "javascript:void(0)", children: [] },
  ]

if currentPage
  -
    navItems.forEach((item) => {
      if (item.title === currentPage) {
        item.active = true
      } else {
        item.active = false
      }
    })

mixin getNavigationItem(navItem)
  li(class= navItem.active ? "site-navigation__item site-navigation__item--active" : "site-navigation__item")
    if navItem.active || navItem.children
      .site-navigation__item-link= navItem.title
        if navItem.children
          i.material-icons expand_more
    else
      a.site-navigation__item-link(href= navItem.href)= navItem.title
        if navItem.children
          i.material-icons expand_more

mixin getNavigation(navItems)
  ul.header__site-navigation
    for navItem in navItems
      +getNavigationItem(navItem)

header.header
  .container
    nav.header__navigation
      include ../logo/logo
      +getNavigation(navItems)
      if user
        .header__user= user
      else
        ul.header__user-navigation
          li.user-navigation__item
            +button({name: "Войти", type: "secondary", href: "/signin.html"})
          li.user-navigation__item
            +button({name: "Зарегистрироваться", href: "/registration.html"})