-
  var navItems = [
    { title: "О нас", href: "javascript:void(0)" },
    { title: "Услуги", href: "javascript:void(0)" },
    { title: "Вакансии", href: "javascript:void(0)" },
    { title: "Новости", href: "javascript:void(0)" },
    { title: "Соглашения", href: "javascript:void(0)" },
  ]


mixin getNavigationItem(navItem)
  li.site-navigation__item
    a.site-navigation__item-link(href= navItem.href)=navItem.title

mixin getNavigation(navItems)
  ul.header__site-navigation
    for navItem in navItems
      +getNavigationItem(navItem)



header.header
  .container
    nav.header__navigation
      include ../logo/logo
      +getNavigation(navItems)
      ul.header__user-navigation
        li.user-navigation__item
          a.button.button--secondary(href="javascript:void(0)")
            span.button__wrapper Войти
        li.user-navigation__item
          a.button.button--primary(href="javascript:void(0)")
            span.button__wrapper Зарегистрироваться