.date-dropdown {
  position: relative;
  display: flex;
  width: 100%;
  &__item {
    flex-grow: 1;
    &--gap-m {
      margin-right: 20px;
    }
  }
  &__input {
    font-size: $text-base-size;
    width: 100%;
    border-radius: 4px;
    padding: 13px 14px;
    border-width: 1px;
    border-style: solid;
    border-color: $text-color-25;
    color: $text-color-75;
    background-color: #fff;
    transition: border-color .2s ease, color .2s ease;
    &::placeholder {
      color: $text-color-75;
    }
    &:hover,
    &:focus {
      border-color: $text-color-50;
      outline: none;
    }
  }
  &__click-area {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
  }
  &__input-wrapper {
    position: relative;
    margin-top: 1px;
    // чтобы при наведении на иконку оставались стили у инпута
    &:hover {
      .date-dropdown__input {
        border-color: $text-color-50;
      }
    }
  }
  &__input {
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
    &--with-icon {
      padding-right: 36px;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: $text-lg;
    border: none;
    background-color: transparent;
    position: absolute;
    transform: translateY(-44%);
    right: 10px;
    top: 50%;
    transition: opacity .2s ease;
    color: $text-color-50;
    &:hover,
    &:focus {
      outline: none;
      opacity: .5;
      & ~ .date-dropdown__input {
        border-color: $text-color-50;
      }
    }
  }
  &__label {
    font-size: $text-sm;
    text-transform: uppercase;
    line-height: 1.25;
    font-weight: bold;
    color: $text-color;
    margin-bottom: 5px;
  }
  &__datepicker {
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 0;
    width: 100%;
  }
}