$color-primary: #BC9CFF;
$color-secondary: #6FCF97;
$gradient-primary: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$gradient-secondary: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$text-color: #1F2041;
$text-color-1: rgba($text-color, .75);
$text-color-2: rgba($text-color, .50);
$text-color-3: rgba($text-color, .25);
$text-color-4: rgba($text-color, .05);