$color-primary: #BC9CFF;
$color-secondary: #6FCF97;
$color-primary-light: #efefff;

$gradient-primary: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$gradient-secondary: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$gradient-perfect: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
$gradient-bad: linear-gradient(180deg, #909090 0%, #3D4975 100%);

$gradient-primary-transparent: linear-gradient(180deg, rgba(#BC9CFF, .5) 0%, rgba(#8BA4F9, .5) 100%);
$gradient-primary-light: linear-gradient(180deg, rgba(#BC9CFF, .25) 0%, rgba(#8BA4F9, .25) 100%);
$gradient-secondary-transparent: linear-gradient(180deg, rgba(#6FCF97, .5) 0%, rgba(#66D2EA, .5) 100%);

$text-color: #1F2041;
$text-color-75: rgba($text-color, .75);
$text-color-50: rgba($text-color, .50);
$text-color-25: rgba($text-color, .25);
$text-color-10: rgba($text-color, .10);
$text-color-5: rgba($text-color, .02);