@import "font-awesome/font-awesome.scss";


@font-face {
	font-family: 'Montserrat';
	src: rl('../../assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
	src: local('☺'), url('../../assets/fonts/montserrat/Montserrat-Regular.woff') format('woff'), url('../../assets/fonts/montserrat/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../../assets/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
	src: local('☺'), url('../../assets/fonts/montserrat/Montserrat-Bold.woff') format('woff'), url('../../assets/fonts/montserrat/Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../../assets/fonts/quicksand/Quicksand-Bold.ttf') format('truetype');
  src: local('☺'), url('../../assets/fonts/quicksand/Quicksand-Bold.woff') format('woff'), url('../../assets/fonts/quicksand/Quicksand-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: $fa-font-display;
  src: url('#{$fa-font-path}/fa-brands-400.eot');
  src: url('#{$fa-font-path}/fa-brands-400.eot?#iefix') format('embedded-opentype'),
  url('#{$fa-font-path}/fa-brands-400.woff2') format('woff2'),
  url('#{$fa-font-path}/fa-brands-400.woff') format('woff'),
  url('#{$fa-font-path}/fa-brands-400.ttf') format('truetype'),
  url('#{$fa-font-path}/fa-brands-400.svg#fontawesome') format('svg');
}


$font-primary: Montserrat, Arial, serif;
$font-secondary: Quicksand, Arial, serif;

$text-base-size: 14px;
$text-xs: 10px;
$text-sm: 12px;
$text-md: 19px;
$text-lg: 24px;


.fab {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

.mdi {
  font-size: $text-lg;
  line-height: 0.87;
}



