$gap-xxxs: 3px;
$gap-xxs: 5px; //
$gap-xs: 10px; //
$gap-s: 15px;
$gap-m: 19px; //
$gap-l: 24px;
$gap-xl: 27px;
$gap-xxl: 30px; //
$gap-xxxl: 45px;
$gap-xxxxl: 40px; //
$gap-xxxxxl: 72px;
$gap-xxxxxxl: 252px; //

$gap-5: 5px;
$gap-10: 10px;
$gap-13: 13px;
$gap-20: 20px;
$gap-21: 21px;
$gap-23: 23px;
$gap-24: 24px;
$gap-26: 26px;
$gap-28: 28px;
$gap-30: 30px;
$gap-32: 32px;
$gap-40: 40px;
$gap-42: 42px;
$gap-53: 53px;
$gap-78: 78px;
$gap-90: 90px;
$gap-127: 127px;